fastapi>=0.111.0
uvicorn>=0.30.1
sqlalchemy>=2.0.31
python-dotenv>=1.0.1
pymysql>=1.1.1
passlib[bcrypt]==1.7.4
bcrypt==3.2.0
pyjwt>=2.8.0
pyotp>=2.9.0
pydantic[email]>=2.7.4
numpy
Pillow
webauthn
google-genai
gunicorn
uvicorn[standard]
torch>=2.0.0
psycopg2-binary>=2.9.9
firebase-admin>=6.5.0
opencv-python-headless>=4.9.0
