fastapi>=0.111.0
uvicorn>=0.30.1
uvicorn[standard]>=0.30.1
sqlalchemy>=2.0.31
python-dotenv>=1.0.1
pymysql>=1.1.1
bcrypt>=4.1.3
pyjwt>=2.8.0
pyotp>=2.9.0
pydantic[email]>=2.7.4
numpy>=2.1.0
Pillow>=11.0.0
webauthn>=2.2.0
google-genai>=0.2.2
gunicorn>=23.0.0
torch>=2.5.0
psycopg2-binary>=2.9.9
firebase-admin>=6.5.0
opencv-python-headless>=4.10.0
python-multipart>=0.0.18
deepface>=0.0.93
razorpay>=1.4.1
requests>=2.31.0
tenseal>=0.3.14
websockets>=14.0
pytest-bdd>=8.1.0
